[Unit]
Description={{ task.image }}

[Service]
Type=oneshot
User=task-scheduler
Group=task-scheduler
ExecStartPre=-docker rm {{ task.image }}
EnvironmentFile=-/home/github-runner/task_envs/{{ task.image }}.env
ExecStart=docker run --name {{ task.image }} -e RUN_BY_SCHEDULE=Y {{ task.image }}:latest